* {
    -fx-font-size: 14px;
    -fx-font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.button-raised {
    /*-fx-padding: 0.7em 0.57em;*/
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(77, 102, 204);
    /*-fx-pref-width: 200;*/
    -fx-text-fill: WHITE;
}

.console-output {
    -fx-background-color: black !important;
    -fx-stroke: white !important;
    -fx-font-family: monospace;
}

.console-output * {
    -fx-background-color: black !important;
    -fx-stroke: white !important;
    -fx-font-family: monospace;
}